


/**
 * Branding ===========================================================
 */
#branding h1.site-name {
  float:left;
  font-size:18px;
  }

#branding form { float:right; }
#branding form label { display:none; }








  
/* @group Layout
===========================================================
*       @group Layout
============================================================= */
.limiter {
  margin:0px auto;
  width:940px;
  position: relative;
}

#left, #right, #main {
  float:left;
}
#left,#right{width:140px;}

#main {margin: 0 20px; }
body.no-sidebars #main { width:910px; }
body.one-sidebar #main { width:760px; }
body.both-sidebars #main { width:630px; }
body.two-sidebars #main { width:530px; }
/* @end = = = =  Layout = = = =  */

/* @group General Style
===========================================================

*     General Style  (html, utility, drupal )

============================================================= */

/*  HTML
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
body {
  color:#666;
  background:#fff;
  font-family: helvetica, arial, sans-serif; 
  background: white; 
  color: black;
  font-size: 75%; 
}

a {
  color:#444;
  text-decoration:none;
  }
  
dl {}
 dt {margin:.5em 0}
 dd {margin:.5em}
  
 
input, textarea {background:#fff;}


table {
  width:100%;
  margin:0px 0px 20px;
}
td, table th {
  padding:4px 4px 5px;
  border-bottom:1px solid #ccc;
}
  .module { font-weight:700; background:#eee}
tr.odd td {background:rgba(34,34,34,.025)}
tr td.active {background:rgba(34,34,34,.05)}
table {
  
  }

table th,
table td { vertical-align:middle; }



div.collapsible h2.fieldset-title { cursor:pointer; }
div.collapsed div.fieldset-content { display:none; }


/* Forms ============================================================== */
input.form-text,
select,
textarea { border:1px solid #ccc; }

input.form-submit,
label { font-weight:bold; }

input.form-submit { cursor:pointer; }

input.form-radio,
input.form-checkbox { vertical-align:middle; }

div.form-item div.description,
div.description {
  color:#666;
  font-size:11px;
}

/*  Utility Class
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/**
 * Markup free clearing ===============================================
 *
 * Consider adding your own selectors to this instead of finding ways
 * to sneak the clear-block class into Drupal's markup.
 * From http://www.positioniseverything.net/easyclearing.html
 */
ul.links:after,
.clear-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

  /* Exclude inline links from clear-block behavior */
  ul.inline:after {
    content: "";
    display:none;
    clear:none;
    }

ul.links,
.clear-block {
  display: inline-block;
  }

/* Hides from IE-mac \*/
* html ul.links,
* html .clear-block {
  height: 1%;
  }

ul.links,
.clear-block {
  display: block;
  }


/*  Drupal Defaults
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

/* Navigation = = = = = = = = = = = = = = = = = = = = = = = = =  */

ul.links li, ul.links li a { float:left; }
ul.links li a {
  font-weight:300;
  padding:5px 15px;
  margin:0px 5px 0px 0px;
}

ul.links li a:hover {
  background:#999;
  color:#fff;
}

ul.links li.active a,
ul.links li.active a.active {
  background:#444;
  color:#fff;
  }

ul.menu a {
  display:block;
  line-height:20px;
  padding:4px 5px 5px;
  border-bottom:1px solid #ccc;
}

ul.menu a.active {
  background:#f8f8f8;
  color:#333;
}

/**
 * We can safely stop at 8 levels of nesting, as the menu system does
 * not allow depths of greather than 8.
 */
ul.menu li li a { padding-left:15px; }
ul.menu li li li a { padding-left:25px; }
ul.menu li li li li a { padding-left:35px; }
ul.menu li li li li li a { padding-left:45px; }
ul.menu li li li li li li a { padding-left:55px; }
ul.menu li li li li li li li a { padding-left:65px; }
ul.menu li li li li li li li li a { padding-left:75px; }


.block {}
  h2.block-title {
    font-size:15px;
    padding:4px 5px 5px;
    margin-bottom:8px;
    line-height: 1em;
    border-bottom:1px solid #ccc;
    background:#f8f8f8;
  }
    .block-region { border:3px dashed #ffc; background:#ffe}


.fieldset {
  margin:1.5em 0;
  padding:.5em 1em;
  background:rgba(0,0,0,.02);
  -moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid rgba(0,0,0,.1);;
}
  .fieldset:hover {background:rgba(0,0,0,.04);}
  .fieldset-title {font-size:14px; margin:0;line-height:2em}
  .fieldset div.form-item-labeled {margin:0 0 1em;}
  
.form-text {}
  #edit-title {font-size:2em; width:100%}

.form-submit {
  display:inline-block;
  padding:3px 8px;
  background:#eee;
  border:1px solid #ddd;
  -moz-border-radius:4px;
	-webkit-border-radius:4px;
}


#console .messages, #console .help {padding:8px;}
#console .warning {background:#ffc}
#console .status {background:#dfc}
#console .error {background:#fcc}
#console .help, #showhelp {background:#cef;}
#console .help {display:none}



/* Views ============================================================== */
table.grid-2 td { width:50%; }
table.grid-3 td { width:33.3%; }
table.grid-4 td { width:25%; }
table.grid-5 td { width:20%; }
table.grid-6 td { width:16.6%; }
table.grid-7 td { width:14.2%; }
table.grid-8 td { width:12.5%; }    
    
/* @end = = = = General = = = =  */



/* ===========================================================

*       @group Typography

============================================================= */

h1, h2, h3, h4, h5, h6	{ line-height: 1.2; position: relative; clear:left}
h1, h2								  { line-height: 36px; margin-bottom: 18px; }
h1, h2, h3, h4					{ margin-top: 18px; }
h4, h5, h6							{ font-weight: bold; }
h3, h4, h5, h6					{ line-height: 18px; }
h1									    { font-size: 46px; }
h2									    { font-size: 34px; }
h3									    { font-size: 26px; }
h4									    { font-size: 20px; }
h5									    { font-size: 15px; }
h6									    { font-size: 13px; }

p                       {margin:0 0 .75em;}

/* @end  = = = = Typography = = = =  */

/* ===========================================================

*       @group Page Sections  (Header, content, aside, footer)

============================================================= */

/*    @group Header
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

/* @end = = = = Header = = = = */




/*    @group Content

 * By default, any text which is suspected to have gone through an
 * input filter is given the 'prose' class. We want to format it with
 * readability and nice defaults in mind.
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.prose { line-height:20px; }

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6, .prose p, .prose ul, .prose ol, .prose pre, .prose div.codeblock, .prose blockquote {
  margin: 0px 0px 20px; 
}

.prose pre, .prose code, .prose div.codeblock {
  font-size:11px;
  font-family: monospace;
  }

.prose pre, .prose blockquote, .prose div.codeblock {
  line-height:20px;
  padding:4px 9px;
}

.prose ol li, .prose ul li {
  display:list-item;
  list-style:disc;
  margin:0px 0px 0px 30px;
  padding:0px;
  }

.prose ol li { list-style:decimal; }

.prose img { display:block; }

/* Excluding Drupal structures */
.prose ul.links, .prose ul.links li, .prose div.item-list ul,.prose div.item-list li {
  margin:0px;
  padding:0px;
  list-style:none;
  }


/* @end = = = = Content = = = = */




/*    @group Footer
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

/* @end = = = = Footer = = = =  */

/* @end = = = = Sections = = = =  */









